
.header{
    background: gray;
    color: white;
    border: 1px solid white;
    box-shadow: 4px 4px 4px 4px snow;
}
.doc{
    background: blue;
    color:wheat;
}
.note{
    color: whitesmoke;
    font-weight: bold;
}
.zoom {
    /* padding: 50px; */
    transition: transform .2s;
    margin: 0 auto;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}